.album-card {
  width: 250px;
  background-color: #d6d6d6;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  cursor: pointer;
}

.album-card:hover {
  transform: translateY(-10px) scale(1.05);
}

.album-cover {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #f0f0f0;
}

.album-info {
  padding: 10px; /* Added padding for better spacing */
}

.album-title {
  font-size: 1em;
  margin: 5px 0;
  color: #333;
}

.artist-name {
  font-size: 0.8em;
  color: #777;
  margin-bottom: 5px;
}

.play-pause-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none; /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  border-radius: 50%; /* Make the button round */
  padding: 15px; /* Adjust padding to make it larger */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for better visibility */
  cursor: pointer; /* Pointer cursor on hover */
}

.play-pause-button button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

.play-pause-button img {
  width: 30px;
  height: 30px;
}

.album-card:hover > .play-pause-button {
  display: flex !important; /* Show the button on hover */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}
