.album-card {
  width: 250px;
  background-color: #d6d6d6;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  cursor: pointer;
}

.album-card:hover {
  transform: translateY(-10px) scale(1.05);
}

.album-cover {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #f0f0f0;
}

.album-info {
  padding: 10px; /* Added padding for better spacing */
}

.album-title {
  font-size: 1em;
  margin: 5px 0;
  color: #333;
}

.artist-name {
  font-size: 0.8em;
  color: #777;
  margin-bottom: 5px;
}

.play-pause-button {
  position: absolute;
  top: 50%; /* Place it just above the bottom edge of the card */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 2; /* Ensure it's above other elements */
  display: none; /* Hidden by default */
  background-color: rgba(
    247,
    247,
    247,
    0.747
  ); /* Semi-transparent background color */
  border-radius: 50%; /* Round shape */
  padding: 10px; /* Space around the icon */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for better visibility */
}

.album-card:hover .play-pause-button {
  display: flex; /* Ensure it is visible on hover */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}
