.navbar > a {
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  padding: 5px;
  border-radius: 5px;
  margin: 0 6px 6px;
  background: rgb(67, 249, 255);
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px);
  color: rgb(0, 0, 0);
}

a.active {
  background: rgb(104, 104, 104);
  color: white;
}
